<ion-view view-title="导出数据">
    <ion-nav-buttons side="right">
        <a class="button f18" ng-click="onCommit()">上传</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="dg-list">
            <div class="box" ng-repeat="item in PandianProductItems">
                <div class="row">
                    <div class="col" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">存货编码：{{item.CargoCode}}</div>
                </div>
                <div class="subbox" ng-show="isGroupShown(item)">
                    <div class="row">
                        <div class="col">盘点单号：{{item.OrderCode}}</div>
                    </div>
                    <div class="row">
                        <div class="col">工程编号：{{item.EngineeCode}}</div>
                    </div>
                    <div class="row">
                        <div class="col">名称：{{item.CargoName}}</div>
                    </div>
                    <div class="row">
                        <div class="col">规格型号：{{item.SpecModel}}</div>
                    </div>
                    <div class="row">
                        <div class="col">采购数量：{{item.Qty}}</div>
                    </div>
                    <div class="row">
                        <div class="col">盘点数量：{{item.PQty}}</div>
                    </div>
                </div>
            </div>
            <div class="box" ng-hide="PandianProductItems.length > 0">
                <div class="row">
                    <div class="col">暂无数据</div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>